html{
  color: white;
  background-color: #323641;
  background-image: url("images/bg-bbt.gif");
}
footer{
  text-align: center;
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
}
main{
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

#bbt{
  width: 30%;
  height: 30%;
  float: left;
  margin-left: 20px;
  padding-right: 30px;
}
.title-home{
  text-align: center;
}
.text-page{
  padding-top: 90px;
  text-align: left;
  padding-left: 20px;
}
