body {
  font-family: arial;
  text-align: center;
  background-image: url("images/Fondgg2.jpg");
}
.about-me {
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-weight: bold;
}
footer {
  font-size: 70%;
  color: white;
}
#titre {
  font-size: 50px;
  text-shadow: 1px 1px;
  font-style: italic;
  color: white;
}
#me-gg {
border : solid 5px black;
}
.amcolor {
  color : white;
}
